.container-everything {
    margin-top: 100px;
    background-color: #f5f0e8b6;
    padding-top: 10px;
    padding-bottom: 40px;
}

h2{
    font-family: 'Brush Script MT', cursive;
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center; 
}

.beginning-text{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 31, 31);
}

.container-stories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-inline: 30px;
}

.box {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

p{
   font-family: 'Times New Roman', Times, serif;
   font-size: 14px;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 54, 54);
}
